{% extends 'polecacz/base.html' %}
{% block title %}Logowanie{% endblock %}
{% block content %}
<center>
<h2>Zaloguj się</h2>
</center>
<br>
<form method="post">
   {% csrf_token %}
     {% if form.errors %}
    <!-- Error messaging -->
   <br>
    <div id="errors">
        <div class="inner">
          <strong>
            <p>W trakcie logowania pojawiły się problemy. Użytkownik nie istnieje lub podane dane nie zgadzają się.</p>
            </strong>
        </div>
    </div>
    <br>
    <!-- /Error messaging -->
    {% endif %}
<div class="form-group">
    <input type="text" class="form-control" aria-describedby="emailHelp" name="username" placeholder="Nazwa użytkownika">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" name="password" placeholder="Hasło">
  </div>
    <center>
  <button type="submit" class="btn btn-dark">Submit</button>
        </center></form>
<br/><br/>

Nie masz jeszcze konta ? Załóż je klikając<a href="{% url 'signup' %}" class="text-muted"> tutaj</a>
{% endblock %}