{% extends 'polecacz/base.html' %}
{% load static %}
{% block title %}{{ game.name }}{% endblock %}
{% block content %}
<h2>Detale gry</h2>
    <div class="container p-3 my-3" style="border:2px solid #38220f;">
        <div class="media">
        <img src={{ game.thumbnail }} class="align-self-start mr-3" style="border:2px solid #38220f;width:130px;height:130px"/>
   <div class="media-body">
       <h4 class="mt-0">{{ game.name }}</h4>
       <h6 class="mt-0"><strong>Ranking: </strong>{{ game.rank }}</h6>
       <h6 class="mt-0"><strong>Średnia ocen: </strong>{{ game.rating|floatformat:-2 }}</h6>
       <h6 class="mt-0"><strong>Rok wydania: </strong>{{ game.year_published }}</h6>
       <h6 class="mt-0"><strong>Minimalna liczba graczy: </strong>{{ game.min_players  }}</h6>
       <h6 class="mt-0"><strong>Maksymalna liczba graczy: </strong>{{ game.max_players  }}</h6>
       <h6 class="mt-0"><strong>Średni czas gry: </strong>{{ game.playing_time  }}</h6>
       <h6 class="mt-0"><strong>Designer: </strong>{{ game.designer  }}</h6>
       <h6 class="mt-0"><strong>Artysta: </strong>{{ game.artist  }}</h6>

    <p><strong>Mechaniki i kategorie zawarte w grze: </strong>
        {% for tag in game.tags.names %}
        <span class="badge badge-pill" style="backgroud: #7BDDF0;">{{ tag }}</span>
        {% endfor %}
       </p>
  </div>
            {% if not selected_game %}
            <a href="{% url 'polecacz:add_game' game.id %}" class="btn btn-outline-success add-btn"><strong>Dodaj grę do listy preferencji</strong></a>
            {% else %}
            <a href="{% url 'polecacz:remove_game' game.id %}" class="btn btn-outline-danger"><strong>Usuń grę z listy preferencji</strong></a>
            {% endif %}

            {% if not owned_game %}
            <a href="{% url 'polecacz:add_to_owned_game' game.id %}" class="btn btn-outline-success add-btn"><strong>Dodaj grę do listy posiadanych gier</strong></a>
            {% else %}
            <a href="{% url 'polecacz:remove_from_owned_game' game.id %}" class="btn btn-outline-danger"><strong>Usuń grę z listy posiadanych gier</strong></a>
            {% endif %}
    </div>
    </div>
{% endblock %}