{% extends 'polecacz/base.html' %}
{% load static %}
{% block title %}Lista gier{% endblock %}
{% block content %}
<center><h2>Lista gier</h2></center>
<br>
<label><strong>Kolejność sortowania:</strong></label>
<div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{ order_name }}
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item" href="{% url 'polecacz:game_list' %}?ordering=rank&page={{ page_obj.number }}&game_name={{ game }}{% for category in selected_categories %}&selected_categories={{ category }}{% endfor %}{% for mechanic in selected_mechanics %}&selected_mechanics={{ mechanic }}{% endfor %}">Ranking rosnąco</a>
        <a class="dropdown-item" href="{% url 'polecacz:game_list' %}?ordering=-rank&page={{ page_obj.number }}&game_name={{ game }}{% for category in selected_categories %}&selected_categories={{ category }}{% endfor %}{% for mechanic in selected_mechanics %}&selected_mechanics={{ mechanic }}{% endfor %}">Ranking malejąco</a>
        <a class="dropdown-item" href="{% url 'polecacz:game_list' %}?ordering=name&page={{ page_obj.number }}&game_name={{ game }}{% for category in selected_categories %}&selected_categories={{ category }}{% endfor %}{% for mechanic in selected_mechanics %}&selected_mechanics={{ mechanic }}{% endfor %}">Alfabetycznie A-Z</a>
        <a class="dropdown-item" href="{% url 'polecacz:game_list' %}?ordering=-name&page={{ page_obj.number }}&game_name={{ game }}{% for category in selected_categories %}&selected_categories={{ category }}{% endfor %}{% for mechanic in selected_mechanics %}&selected_mechanics={{ mechanic }}{% endfor %}">Alfabetycznie Z-A</a>
        <a class="dropdown-item" href="{% url 'polecacz:game_list' %}?ordering=rating&page={{ page_obj.number }}&game_name={{ game }}{% for category in selected_categories %}&selected_categories={{ category }}{% endfor %}{% for mechanic in selected_mechanics %}&selected_mechanics={{ mechanic }}{% endfor %}">Średnia ocen rosnąco</a>
        <a class="dropdown-item" href="{% url 'polecacz:game_list' %}?ordering=-rating&page={{ page_obj.number }}&game_name={{ game }}{% for category in selected_categories %}&selected_categories={{ category }}{% endfor %}{% for mechanic in selected_mechanics %}&selected_mechanics={{ mechanic }}{% endfor %}">Średnia ocen malejąco</a>
    </div>
  </div>
<br>
<br>
<label><strong>Filtry:</strong></label>
<script>
    $(".checkbox-menu").on("change", "input[type='checkbox']", function() {
   $(this).closest("li").toggleClass("active", this.checked);
});

$(document).on('click', '.allow-focus', function (e) {
  e.stopPropagation();
});
</script>
<form action="{% url 'polecacz:game_list' %}" method="get">
<div class="btn-group" role="group">
    <button id="btnGroupDrop2" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Kategorie
    </button>
    <ul class="dropdown-menu checkbox-menu allow-focus" aria-labelledby="dropdownMenu1">
     {% for category in categories %}
    <li >
      <label>
        <input type="checkbox" name="selected_categories" value="{{category}}" {% if category in selected_categories %} checked {% endif %}> {{category}}
      </label>
    </li>
        {% endfor %}
  </ul>
  </div>
<div class="btn-group" role="group">
    <button id="btnGroupDrop3" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Mechaniki
    </button>
    <ul class="dropdown-menu checkbox-menu allow-focus" aria-labelledby="dropdownMenu1">
        {% for mechanic in mechanics %}
        <li >
      <label>
        <input type="checkbox" name="selected_mechanics" value="{{mechanic}}" {% if mechanic in selected_mechanics %} checked {% endif %}> {{mechanic}}
      </label>
    </li>
        {% endfor %}
    </ul>
  </div>

<script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>

    <div class="container mt-4 pt-10 col-md-12">

        <div id="autocomplete" class="autocomplete">
            <input name='game_name' type='text' placeholder="Wyszukaj gre po nazwie" class="autocomplete-input" />
            <ul class="autocomplete-result-list"></ul>
        </div>

    </div>
    <br>
    <center>
        <input type="hidden" name="ordering" value="{{ ordering }}">
        <input type="hidden" name="page" value="{{ page_obj.number }}">
    <button type="submit" class="btn btn-dark col-2">Szukaj</button>
    </center>
</form>

<script>
        new Autocomplete('#autocomplete', {

            search: input => {
                console.log(input)
                const url = `/polecacz/game_search/?game_name=${input}`
                return new Promise(resolve => {
                    fetch(url)
                        .then(response => response.json())
                        .then(data => {
                            resolve(data.data)
                        })
                })
            }})
</script>

{% for game in games_list %}
    <div class="container p-3 my-3" style="border:2px solid #38220f;">
        <div class="media">
        <img src={{ game.thumbnail }} class="align-self-start mr-3" style=" border:2px solid #38220f;width:130px;height:130px"/>
   <div class="media-body">
       <h4 class="mt-0"><a href="{% url 'polecacz:game_detail' game.id %}" class="text-muted" >{{ game.name }}</a></h4>
       <h6 class="mt-0"><strong>Ranking: </strong>{{ game.rank }}</h6>
       <h6 class="mt-0"><strong>Średnia ocen: </strong>{{ game.rating }}</h6>
       <h6 class="mt-0"><strong>Rok wydania: </strong>{{ game.year_published }}</h6>
       <h6 class="mt-0"><strong>Minimalna liczba graczy: </strong>{{ game.min_players  }}</h6>
       <h6 class="mt-0"><strong>Maksymalna liczba graczy: </strong>{{ game.max_players  }}</h6>
  </div>
            {% if not game in selected_games %}
            <a href="{% url 'polecacz:add_game' game.id %}?ordering={{ordering}}&page={{ page_obj.number }}&game_name={{ game_name }}{% for category in selected_categories %}&selected_categories={{ category }}{% endfor %}{% for mechanic in selected_mechanics %}&selected_mechanics={{ mechanic }}{% endfor %}" class="btn btn-outline-success add-btn"><strong>Dodaj grę do listy preferencji</strong></a>
            {% else %}
 <button class="btn btn-outline-primary mr-1" disabled><strong>Ta gra została już dodana</strong></button>
            <a href="{% url 'polecacz:remove_game' game.id %}?ordering={{ordering}}&page={{ page_obj.number }}&game_name={{ game_name }}{% for category in selected_categories %}&selected_categories={{ category }}{% endfor %}{% for mechanic in selected_mechanics %}&selected_mechanics={{ mechanic }}{% endfor %}" class="btn btn-outline-danger"><strong>Usuń grę z listy preferencji</strong></a>
            {% endif %}
    </div>
    </div>
{% endfor %}
{% if is_paginated %}
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-end">
       {% if page_obj.paginator.num_pages > 1 and page_obj.number != 1 %}
                  <li class="page-item"><a class="page-link" href="{% url 'polecacz:game_list' %}?ordering={{ordering}}&page=1&game_name={{ game }}{% for category in selected_categories %}&selected_categories={{ category }}{% endfor %}{% for mechanic in selected_mechanics %}&selected_mechanics={{ mechanic }}{% endfor %}">Pierwsza</a></li>
      {% endif %}
       {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="{% url 'polecacz:game_list' %}?ordering={{ordering}}&page={{ page_obj.previous_page_number }}&game_name={{ game }}{% for category in selected_categories %}&selected_categories={{ category }}{% endfor %}{% for mechanic in selected_mechanics %}&selected_mechanics={{ mechanic }}{% endfor %}">Poprzednia</a></li>
            <li class="page-item"><a class="page-link" href="{% url 'polecacz:game_list' %}?ordering={{ordering}}&page={{ page_obj.previous_page_number }}&game_name={{ game }}{% for category in selected_categories %}&selected_categories={{ category }}{% endfor %}{% for mechanic in selected_mechanics %}&selected_mechanics={{ mechanic }}{% endfor %}">{{ page_obj.previous_page_number }}</a></li>
       {% endif %}
    <li class="page-item active"><a class="page-link" href="{% url 'polecacz:game_list' %}?ordering={{ordering}}&page={{ page_obj.number }}&game_name={{ game }}{% for category in selected_categories %}&selected_categories={{ category }}{% endfor %}{% for mechanic in selected_mechanics %}&selected_mechanics={{ mechanic }}{% endfor %}">{{ page_obj.number }}</a></li>
      {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="{% url 'polecacz:game_list' %}?ordering={{ordering}}&page={{ page_obj.next_page_number }}&game_name={{ game }}{% for category in selected_categories %}&selected_categories={{ category }}{% endfor %}{% for mechanic in selected_mechanics %}&selected_mechanics={{ mechanic }}{% endfor %}">{{ page_obj.next_page_number }}</a></li>
        <li class="page-item"><a class="page-link" href="{% url 'polecacz:game_list' %}?ordering={{ordering}}&page={{ page_obj.next_page_number }}&game_name={{ game }}{% for category in selected_categories %}&selected_categories={{ category }}{% endfor %}{% for mechanic in selected_mechanics %}&selected_mechanics={{ mechanic }}{% endfor %}">Następna</a></li>
             {% endif %}
      {% if page_obj.paginator.num_pages > 1 and page_obj.number != page_obj.paginator.num_pages %}
      <li class="page-item"><a class="page-link" href="{% url 'polecacz:game_list' %}?ordering={{ordering}}&page={{ page_obj.paginator.num_pages }}&game_name={{ game }}{% for category in selected_categories %}&selected_categories={{ category }}{% endfor %}{% for mechanic in selected_mechanics %}&selected_mechanics={{ mechanic }}{% endfor %}">Ostatnia</a></li>
      {% endif %}
  </ul>
</nav>
{% endif %}
{% endblock %}