{% extends 'polecacz/base.html' %}
{% load static %}
{% block title %}GierkoPolecacz{% endblock %}
{% block content %}
<div class="container-fluid">
    <center><h1 class="display-4">Top games</h1></center>
        <div class="container-fluid">
        <div class="row">
            {% for game in top_games %}
            <div class="col-md">
                <div class="container p-3 my-3" style="border:2px solid #38220f;">
                    <div class="media">
<!--                        <img src={{ game.image.url }} class="align-self-start mr-3" style="border:2px solid #38220f;width:130px;height:130px"/>-->
                        <div class="media-body">
                            <center><h4 class="mt-0"><a href="{% url 'polecacz:game_detail' game.id %}" class="text-muted">{{ game.name }}</a></h4></center>
                            <h6 class="mt-0"><strong>Średnia ocen: </strong>{{ game.rating|floatformat:-2 }}</h6>
                            <h6 class="mt-0"><strong>Ranking: </strong>{{ game.rank }}</h6>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="container-fluid text-center">
    <h1 class="display-4">Witaj</h1>
<!--    <img src="/static/image/Logo.png" style="width:532px;height:480px">-->
    <h3>Gierkopolecacz jest aplikacją pomagająca w wyborze gier planszowych na podstawie ponadych przez Ciebie preferencji.</h3>
    <h3>Sprawdź jak działa i <a href="{% url 'polecacz:signup' %}" class="text-muted">załóż darmowe konto</a>.</h3>
</div>
{% endblock %}