{% extends 'polecacz/base.html' %}
{% load static %}
{% block title %}GierkoPolecacz{% endblock %}
{% block content %}
<div class="container-fluid text-center">
    <h1 class="display-4">Witaj {% if user.is_authenticated %} {{user.username}} {% endif %}</h1>
<!--    <img src="/static/image/Logo.png" style="width:532px;height:480px">-->
<br>
    {% if not user.is_authenticated %}
    <h3>Gierkopolecacz jest aplikacją pomagająca w wyborze gier planszowych na podstawie ponadych przez Ciebie preferencji.</h3>
    <h3>Sprawdź jak działa i <a href="{% url 'signup' %}" class="text-muted">załóż darmowe konto</a>.</h3>
    {% else %}
    <h3>Poszukajmy wspólnie nowych gier, przechodząc do widoku <a href="{% url 'polecacz:game_list' %}" class="text-muted">szukania.</a></h3>
    {% endif %}
</div>
<br>
<div class="container-fluid">
    <center><h1>Najwyżej oceniane gry</h1></center>
        <div class="container-fluid">
        <div class="row">
            {% for game in top_games %}
            <div class="col-md">
                <div class="container p-4 my-4" style="border:2px solid #31220f;">
                    <div class="media">
                        <img src={{ game.thumbnail }} class="align-self-start mr-3" style="border:2px solid #38220f;width:200px;height:150px"/>
                        <div class="media-body">
                            <h5 class="mt-0"><a href="{% url 'polecacz:game_detail' game.id %}" class="text-muted">{{ game.name }}</a></h5>
                            <h6 class="mt-0"><strong>Średnia ocen: </strong>{{ game.rating|floatformat:-2 }}</h6>
                            <h6 class="mt-0"><strong>Ranking: </strong>{{ game.rank }}</h6>
                            <h6 class="mt-0"><strong>Rok wydania: </strong>{{ game.year_published }}</h6>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}