{% extends 'polecacz/base.html' %}
{% load static %}
{% block title %}Lista gier{% endblock %}
{% block content %}
<script>
    $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

</script>
<center><h2>Oto Twoje rekomendacje</h2></center>
<center><h3>Utworzone na podstawie między innymi takich gier jak:</h3></center>
<center>
<div class="container-flex" style="padding-top:60px;">
    <div class="row justify-content-center">
        {% for selected_game in selected_games %}
        <div>
            <a href="{% url 'polecacz:game_detail' selected_game.id %}">
            <img src={{ selected_game.thumbnail }} data-toggle="tooltip" data-placement="top" title="{{ selected_game.name }}" style="border:2px solid #38220f;width:200px;height:150px;margin:10px;"/>
                </a>
        </div>
        {% endfor %}
    </div>
</div>
    </center>
<br>
<br>
<center><h4>Poniższe gry posiadają najwięcej cech wspólnych z grami wybranym przez Ciebie.</h4></center>
{% if not opinion_created %}
<center><h4>Zostaw proszę <a href="{% url 'polecacz:create_opinion' id %}">opinię</a> w celu poprawy przyszłych rekomendacji.</h4></center>
{% endif %}
<br>
{% for game in recommended_games %}
    <div class="container p-3 my-3" style="border:2px solid #38220f;">
        <div class="media">
        <img src={{ game.thumbnail }} class="align-self-start mr-3" style=" border:2px solid #38220f;width:130px;height:130px"/>
   <div class="media-body">
       <h4 class="mt-0"><a href="{% url 'polecacz:game_detail' game.id %}" class="text-muted" >{{ game.name }}</a></h4>
       <h6 class="mt-0"><strong>Ranking: </strong>{{ game.rank }}</h6>
       <h6 class="mt-0"><strong>Średnia ocen: </strong>{{ game.rating }}</h6>
       <h6 class="mt-0"><strong>Rok wydania: </strong>{{ game.year_published }}</h6>
       <h6 class="mt-0"><strong>Minimalna liczba graczy: </strong>{{ game.min_players  }}</h6>
       <h6 class="mt-0"><strong>Maksymalna liczba graczy: </strong>{{ game.max_players  }}</h6>
  </div>
    </div>
    </div>
{% endfor %}
{% endblock %}