{% extends 'polecacz/base.html' %}
{% load static %}
{% block title %}Lista gier{% endblock %}
{% block content %}
<center><h2>Oto historia twoich rekomendacji</h2></center>
<br>
{% if recommendations %}
    {% for recommendation_obj in recommendations %}
        <div class="container p-3 my-3" style="border:2px solid #38220f;">
            <div class="media">
       <div class="media-body">
           <h4 class="mt-0">Utworzona: <a href="{% url 'polecacz:recommendation_detail' recommendation_obj.id %}" class="text-muted" >{{ recommendation_obj.creation_date }}</a></h4>
      </div>
                {% if not recommendation_obj.opinion_created %}
                <a href="{% url 'polecacz:create_opinion' recommendation_obj.id %}" class="btn btn-primary add-btn"><strong>Dodaj opinię dla rekomendacji</strong></a>
                {% else %}
                <button type="button" class="btn btn-outline-primary" disabled>Opinia została już dodana</button>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% else %}
    <center><h4>Wygląda na to, że nie utworzono jeszcze żadnych rekomendacji. Utwórz je wybierając <a href="{% url 'polecacz:game_list' %}" class="text-muted">gry</a>, a następnie w widoku <a href="{% url 'polecacz:selected_games' %}" class="text-muted">wybranych gier</a>, kliknij 'Utwórz rekomendację'</h4></center>
{% endif %}
{% if is_paginated %}
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-end">
       {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="{% url 'polecacz:recommendation_list' %}?page={{ page_obj.previous_page_number }}">Poprzednia</a></li>
            <li class="page-item"><a class="page-link" href="{% url 'polecacz:recommendation_list' %}?&page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
       {% endif %}
    <li class="page-item active"><a class="page-link" href="{% url 'polecacz:recommendation_list' %}?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
      {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="{% url 'polecacz:recommendation_list' %}?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
        <li class="page-item"><a class="page-link" href="{% url 'polecacz:recommendation_list' %}?page={{ page_obj.next_page_number }}">Następna</a></li>
      {% endif %}
  </ul>
</nav>
{% endif %}
{% endblock %}