{% extends 'polecacz/base.html' %}
{% load static %}
{% block title %}Lista gier{% endblock %}
{% block content %}
<center><h2>Lista wybranych przez Ciebie gier</h2></center>
<br>
<br>
<center><h4>Wygląda na to, że nie wybrano jeszcze żadnych gier. Wybierz je proszę przechodząc do widoku <a href="{% url 'polecacz:game_list' %}" class="text-muted">listy gier</a></h4></center>

{% for game in recommended_games %}
    <div class="container p-3 my-3" style="border:2px solid #38220f;">
        <div class="media">
        <img src={{ game.thumbnail }} class="align-self-start mr-3" style=" border:2px solid #38220f;width:130px;height:130px"/>
   <div class="media-body">
       <h4 class="mt-0"><a href="{% url 'polecacz:game_detail' game.id %}" class="text-muted" >{{ game.name }}</a></h4>
       <h6 class="mt-0"><strong>Ranking: </strong>{{ game.rank }}</h6>
       <h6 class="mt-0"><strong>Średnia ocen: </strong>{{ game.rating }}</h6>
       <h6 class="mt-0"><strong>Rok wydania: </strong>{{ game.year_published }}</h6>
       <h6 class="mt-0"><strong>Minimalna liczba graczy: </strong>{{ game.min_players  }}</h6>
       <h6 class="mt-0"><strong>Maksymalna liczba graczy: </strong>{{ game.max_players  }}</h6>
  </div>
    </div>
    </div>
{% endfor %}
{% if is_paginated %}
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-end">
       {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="{% url 'polecacz:selected_games' %}?ordering={{ordering}}&page={{ page_obj.previous_page_number }}">Poprzednia</a></li>
            <li class="page-item"><a class="page-link" href="{% url 'polecacz:selected_games' %}?ordering={{ordering}}&page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
       {% endif %}
    <li class="page-item active"><a class="page-link" href="{% url 'polecacz:selected_games' %}?ordering={{ordering}}&page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
      {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="{% url 'polecacz:selected_games' %}?ordering={{ordering}}&page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
        <li class="page-item"><a class="page-link" href="{% url 'polecacz:selected_games' %}?ordering={{ordering}}&page={{ page_obj.next_page_number }}">Następna</a></li>
      {% endif %}
  </ul>
</nav>
{% endif %}
{% endblock %}